<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <title></title>
  </head>
  <body>
  <div class="container my-5 mx-5" align = "center">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Latest Technological Developments</h2>
          <p>According to Fortune, as of 2020, the ten largest technology companies by revenue are: Apple Inc., Samsung, Foxconn, Alphabet Inc., Microsoft, Huawei, Dell Technologies, Hitachi, IBM, and Sony.Many large tech companies have a reputation for innovation, spending large sums of money annually on research and development</p>
          <button class="btn btn-outline-light" type="button">
          <a href="/"></a>Back to Home</button>
        </div>
      </div>
  </div>
  </body>
</html>
